h1 {
    margin: 0.5em auto;
    font-size: 48px;
    line-height: 110%;
}

section {
    text-align: center;
}

.week__wrapper {
    margin: auto !important;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.week__day {
    font-size: 18px;
    line-height: 120%;
    font-family: Arial, Helvetica, sans-serif;
    max-width: fit-content;

    padding: 8px;
    box-sizing: border-box;
}

.week__day--rest {
    color: red;
    font-style: italic;
}